@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@800&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    background: whitesmoke;
    font-family: "Montserrat", sans-serif;
}
a {
    text-decoration: underline;
    color: black;
}
a:hover {
    color: #71c6b0;
}
#heading-text {
    left: 2.2%;
}
#cover-content {
    position: absolute;
    height: 100vh;
    left: 2.5%;
    pointer-events: none;
    top: 50%;
}
#instructions {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 11pt;
    font-weight: 400;
    line-height: 10*1.3pt;
    display: inline-block;
    margin-right: 350px;
}
#key {
    display: inline-block;
}
h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 28pt;
    font-weight: 800;
    line-height: 28pt;
    color: #01366e;
}
#intro {
    background-color: #71c6af;
    padding-left: 150px;
    padding-top: 60px;
    padding-bottom: 80px;
}
#intro-heading {
    padding-bottom: 15px;
    color: whitesmoke;
    font-size: 24pt;
}
#intro-text {
    padding-left: 50px;
    padding-right: 150px;
    color: whitesmoke;
    font-size: 11pt;
    line-height: 18pt;
    margin-top: -7px;
}
#intro-content {
    display: flex;
    flex-direction: row;
}
h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 28pt;
    font-weight: 400;
    color: #01366e;
    margin-top: 94px;
    margin-left: -60px;
}
h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 11pt;
    font-weight: 800;
    color: #01366e;
    letter-spacing: -1.25px;
    margin-top: -15px;
}
#overview-heading {
    font-size: 21pt;
    margin: 0;
}
h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 12pt;
    font-weight: 700;
    margin-bottom: 3px;
}
hr {
    height: 8px;
    width: 290px;
    background-color: #01366e;
    margin-top: -30px;
    margin-left: 0px;
}
#link {
    color: #01366e;
    font-family: "Montserrat", sans-serif;
    font-size: 11pt;
    font-weight: 400;
}
#map-holder {
    width: 100%;
    height: 100vh;
    position: relative;
}
#container {
    display: flex;
    flex-direction: row;
    margin: 2vw 0px 0px 5vw;
}
#scatter-plot {
    position: relative;
}
#options {
    line-height: 20pt;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 30px;
}
svg rect {
    fill:whitesmoke;
    opacity: 0;
}
.country{
    fill: #b1ded2;
    stroke: white;
    stroke-width: 1;
}
.undefined{
    fill: #e6e6e6;
    stroke: white;
    stroke-width: 1;
}
.top30{
    fill: #ffcc73;
    stroke: white;
    stroke-width: 1;
}
.top20{
    fill: #f2ae97;
    stroke: white;
    stroke-width: 1;
}
.top10{
    fill: #f4794c;
    stroke: white;
    stroke-width: 1;
}
.bot10{
    fill: #71c6b0;
    stroke: white;
    stroke-width: 1;
}
.country-on{
    fill: #d13536;
}
.tooltip {
    position: absolute;
    visibility: hidden;
    font-family: "Montserrat", sans-serif;
    font-size: 9pt;
    line-height: 14pt;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 28, 58, 0.8);
    padding: 15px;
    top: 0px;
    left: 0px;
    pointer-events: none;
}
.axisLabel {
    color: #01366e;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 12pt;
}
.axisLabel2 {
    color: #01366e;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12pt;
}
.axisDescription {
    color: #01366e;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 10pt;
}
.button {
    border: none;
    color: white;
    padding: 12px 28px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    max-width:12em;
    margin-left: 50px;
    margin-top: 170px;
    border-radius: 15px;
}
.button1 {
    background-color: #71c6b0; 
    color: white; 
    border: 2px solid white;
}
.button1:hover {
    background-color: white;
    color: #71c6b0;
}
#column {
    display: flex;
    flex-direction: column;
}
.overview {
    margin-left: 22vw;
    margin-right: 22vw;
    margin-top: 5vw;
    margin-bottom: -25px;
}
.overview-text {
    font-size: 12pt;
    line-height:20pt;
}
.type--option {
    font-size: 11pt;
}
input[type="checkbox"] {
    visibility: hidden;
}
label {
    cursor: pointer;
}
#c1 + label:before {
    border: 1px solid #4BBD9F;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .35em 0 -20px;
    width: 16px;}
#c1:checked + label:before {
    background: #4BBD9F;
    color: #fff;
    content: "\2713";
    text-align: center;}
#c1:checked + label:after {
    font-weight: bold;}
#c2 + label:before {
    border: 1px solid #ffcc73;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .35em 0 -20px;
    width: 16px;}
#c2:checked + label:before {
    background: #ffcc73;
    color: #fff;
    content: "\2713";
    text-align: center;}
#c2:checked + label:after {
    font-weight: bold;}
#c3 + label:before {
    border: 1px solid #f2ae97;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .35em 0 -20px;
    width: 16px;}
#c3:checked + label:before {
    background: #f2ae97;
    color: #fff;
    content: "\2713";
    text-align: center;}
#c3:checked + label:after {
    font-weight: bold;}
#c4 + label:before {
    border: 1px solid #781120;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .35em 0 -20px;
    width: 16px;}
#c4:checked + label:before {
    background: #781120;
    color: #fff;
    content: "\2713";
    text-align: center;}
#c4:checked + label:after {
    font-weight: bold;}
#c5 + label:before {
    border: 1px solid #9a275a;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .35em 0 -20px;
    width: 16px;}
#c5:checked + label:before {
    background: #9a275a;
    color: #fff;
    content: "\2713";
    text-align: center;}
#c5:checked + label:after {
    font-weight: bold;}
#c6 + label:before {
    border: 1px solid #d13536;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .35em 0 -20px;
    width: 16px;}
#c6:checked + label:before {
    background: #d13536;
    color: #fff;
    content: "\2713";
    text-align: center;}
#c6:checked + label:after {
    font-weight: bold;}
#c7 + label:before {
    border: 1px solid #f4794c;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .35em 0 -20px;
    width: 16px;}
#c7:checked + label:before {
    background: #f4794c;
    color: #fff;
    content: "\2713";
    text-align: center;}
#c7:checked + label:after {
    font-weight: bold;}
#c8 + label:before {
    border: 1px solid #683257;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .35em 0 -20px;
    width: 16px;}
#c8:checked + label:before {
    background: #683257;
    color: #fff;
    content: "\2713";
    text-align: center;}
#c8:checked + label:after {
    font-weight: bold;}
#c9 + label:before {
    border: 1px solid #FFC583;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .35em 0 -20px;
    width: 16px;}
#c9:checked + label:before {
    background: #FFC583;
    color: #fff;
    content: "\2713";
    text-align: center;}
#c9:checked + label:after {
    font-weight: bold;}
#c10 + label:before {
    border: 1px solid #bdbdbd;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .35em 0 -20px;
    width: 16px;}
#c10:checked + label:before {
    background: #bdbdbd;
    color: #fff;
    content: "\2713";
    text-align: center;}
#c10:checked + label:after {
    font-weight: bold;}


.input {
    margin-bottom: -10px;
}
#join-buttons {
    display:flex;
    flex-direction:row;
    margin: 0 0vw -6vh 21vw;
}
.data-join {
    margin: 5px;
    border: 2px solid #f4794c;
    color: #f4794c;
    background-color: whitesmoke;
    padding: 8px 12px;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    transition-duration: 0.4s;
    border-radius: 5px;
    width: 160px;
}
.data-join:hover {
    cursor:pointer;
    color: white;
    background-color: #f4794c;
}
#button-context {
    margin-left: 21vw;
    margin-top: -4vh;
    font-size: 11pt;
    font-style: italic;
}
#section-line {
    border-top: 6px solid #71c6b0;
    margin: 100px 240px -50px 280px;
}
#radar-chart {
    display:block;
}
#radar-container {
    display:flex;
    flex-direction:row;
    margin: 8vh 20vw 0vh 20vw;
}
#radar-key {
    margin-top: 51vh;
}
#factors-grid {
    display: grid;
    margin-top: 10vh;
    margin-left: 20vw;
    margin-right: 17vw;
    margin-bottom: -33vh;
    grid-template-columns: minmax(200px , auto) minmax(200px , auto) minmax(200px , auto);
    grid-template-rows: minmax(200px , auto) minmax(200px , auto) minmax(200px , auto);
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
}
.factor{
    border: 3px solid #71c6b0;
    padding: 10px 35px 20px 35px;
}
.factor h4 {
    color:#01366e;
}
li {
    list-style:circle;
    margin-top: 3vh;
    font-size: 11pt;
    line-height: 18pt;
    margin-left: -1vw;
}
#footer {
    padding:35px;
    background-color:#71c6b0;
    color:white;
    text-align:center;
    margin-top: 12vh;
}